<div class="container-fluid">
	<div class="span12">
		<div class="">
			<div id="mobile-logo">
				hawkeyeTV
			</div>
		</div>
	</div>
</div>
<br></br>

<table id="app-table">
	<tr>
		<td>
			<div id="selection-box" class="block">
				<img src="../assets/img/youtube.png" id="youtube">
			</div>
		</td>
		<td>
			<div id="selection-box" class="block">
				<img src="../assets/img/spotify.png" id="music">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="selection-box" class="block">
				<img src="../assets/img/facebook.png" id="facebook">
			</div>
		</td>
		<td>
			<div id="selection-box" class="block">
				<img src="../assets/img/twitter.png" id="twitter">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="selection-box" class="block">
				<img src="../assets/img/news.png" id="news">
			</div>
		</td>
		<td>
			<div id="selection-box" class="block">
				<img src="../assets/img/settings.png" id="settings">
			</div>
		</td>
	</tr>
</table>