<div class="container-fluid">
  <div class="row-fluid">
    <div class="time-block col-md-4" id="time"></div>
    <div class="forecast-block col-md-8 col-md-offset-2" id="forecast"></div>
    <div class="tw-feed"></div>
    <div class="fb-feed"></div>
    <div class="rss-feed"></div>
  </div>
</div>

<div id="apps" class="container">
	<div class="row-fluid">
		<div class="blocks col-md-8">
			<div id="start-block"></div>
				<div id="selection-box" class="block">
					<img src="../assets/img/youtube.png" id="youtube">
				</div>
				<div id="selection-box" class="block">
					<img src="../assets/img/spotify.png" id="music">
				</div>
				<div id="selection-box" class="block">
					<img src="../assets/img/settings.png" id="settings">
				</div>
				<div id="selection-box" class="block">
					<img src="../assets/img/facebook.png" id="facebook">
				</div>
				<div id="selection-box" class="block">
					<img src="../assets/img/twitter.png" id="twitter">
				</div>
				<div id="selection-box" class="block">
					<img src="../assets/img/news.png" id="news">
				</div>
			<div id="end-block"></div>
		</div>
	</div>
</div>